*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}
button{
    padding: 0.5rem 1rem;
    background-color: orange;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}